body{
	background-color: #000000;
	color : #FFFFFF;
}
input[type="email"]{
	background-color: #323232; color: #686868;
	box-sizing: border-box;
	border-bottom: 5px solid white;
}
input[type="text"]{
	background-color: #323232; color: #686868;
	box-sizing: border-box;
	border-bottom: 5px solid white;
}
input[type="date"]{
	background-color: #323232; color: #686868;
	box-sizing: border-box;
	border-bottom: 5px solid white;
}
input.nameO{
	font-size: 24px;
	width: 24.62%;
}
input.emailO{
	font-size: 24px;
	width: 42.88%;
}
input:hover .emailO{
	content: Please enter a valid gmail address;
}
input.phoneO{
	font-size: 24px;
	width: 57.43%;
}
input.addressO{
	font-size: 24px;
	width: 48.29%;
}
input.cityO{
	font-size: 24px;
	width: 41.51%;
}
input.zipcodeO{
	font-size: 24px;
	width: 35.39%;
}
input.enameO{
	font-size: 24px;
	width: 24.62%;
}
input.enumberO{
	font-size: 24px;
	width: 30.03%;
}
input.bdayO{
	font-size: 24px;
	width: 65.83%;
}
input.buttonO{
	background-color: #094817 !important;
	color: #FFFFFF !important;
	font-weight: bold;
	font-size: 63px;
}
form{
	display: grid;
	grid-template-columns: repeat(1, 1fr);	
	text-align: center;
	height: 50%;
	transform: translate(0%, 50%);
}

.form-container{
	box-sizing: border-box;
	align-items: center;
	height: 100vh;
}
.profileImage{
	display: flex;
	margin-left: 40%;
	grid-row-start: 1;
	grid-column-start: 1;
}
.name{
	margin-left: 11.56%;
	display: flex;
  	align-items: center;
	grid-row-start: 2;
	grid-column-start: 1;
	transform: translate(0%, 50%);
}
.email{
	margin-left: 36.35%;
	display: flex;
  	align-items: center;
	grid-row-start: 2;
	grid-column-start: 1;
	transform: translate(0%, 50%);
}
.phone{
	margin-left: 66.72%;
	display: flex;
  	align-items: center;
	grid-row-start: 2;
	grid-column-start: 1;
	transform: translate(0%, 50%);
}
.address{
	margin-left: 11.56%;
	display: flex;
  	align-items: center;
	grid-row-start: 3;
	grid-column-start: 1;
	transform: translate(0%, 50%);
}	
.city{
	margin-left: 57.34%;
	display: flex;
  	align-items: center;
	grid-row-start: 3;
	grid-column-start: 1;
	transform: translate(0%, 50%);
}
.zipcode{
	margin-left: 78.07%;
	display: flex;
  	align-items: center;
	grid-column-start: 1;
	grid-row-start: 3;
	transform: translate(0%, 50%);
}
.ename{
	margin-left: 11.56%;
	display: flex;
  	align-items: center;
	grid-column-start: 1;
	grid-row-start: 4;
	transform: translate(0%, 50%);
}
.enumber{
	margin-left: 36.35%;
	display: flex;
  	align-items: center;
	grid-column-start: 1;
	grid-row-start: 4;
	transform: translate(0%, 50%);
}
.bday{
	margin-left: 58.54%;
	display: flex;
  	align-items: center;
	grid-column-start: 1;
	grid-row-start: 4;
	transform: translate(0%, 50%);
}
.button{
	display: flex;
	grid-column-start: 1;
	margin-left: 39.17%;
  	align-items: center;
	grid-row-start: 5;
	transform: translate(0%, 50%);
}
.header {
    background-color: #093813; /* Header background color */
    display: flex;
    align-items: center;
    padding: 20px;
}


